{% extends 'base.html' %}

{% block body %}

<div class="card" style="width: 18rem;">
  {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
  <div class="card-body">
    <h5 class="card-title">{{ user.username }}님의 프로필입니다.</h5>
    <hr>
    <p class="card-text">유저명: {{ user }}</p>
    <p class="card-text">이메일: {{ user.email }}</p>
    <a href="{% url 'accounts:update' %}" class="btn btn-outline-success">수정하기</a>
    <a href="{% url 'accounts:delete' %}" class="btn btn-outline-danger">계정 삭제</a>
  </div>
</div>


{% endblock %}