{% extends 'base.html' %}

{% block body %}

<div class="card" style="width: 18rem;">
  {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
  <div class="card-body">
    <h5 class="card-title">{{ user.username }}님의 프로필입니다.</h5>
    <p class="card-text">{{ user }}</p>
    <a href="{% url 'accounts:update' user.pk %}" class="btn btn-outline-success">수정하기</a>
    {% comment %} <a href="{% url 'articles:delete' article.pk %}" class="btn btn-outline-danger">삭제하기</a> {% endcomment %}
  </div>
</div>


{% endblock %}